<head>

	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Referencia del programa de consola
			</h1>

</div>
<hr/>

		<p>Los programas de consola permiten la interacción entre su programa y el usuario. Para escribir un programa, asegúrese de que su programa extienda ProgramaDeConsola:</p>
		<div class="well"><code>
public class Ejemplo extends EsConsole {
		</code></div>

		<h2>Imprimir</h2>
		<div class="well"><code>
imprimir(<i class="codeText">mensaje</i>); //Imprime un mensaje a la consola.
		</code></div>

<h2>Leer</h2>
		Una cosa interesante que los Programas de la Consola te permiten hacer es obtener información del usuario. A continuación se presentan algunos ejemplos:
		<div class="well"><code>
leerLinea(<i class="codeText">aviso</i>); //Lee texto de usuarios y devuelve<br/>
leerInt(<i class="codeText">aviso</i>); //Lee un entero y lo devuelve.<br/>
leerDouble(<i class="codeText">aviso</i>); //Lee un double del usuario y lo devuelve.<br/>
		</code></div>

		<h2>Ejemplo</h2>
		Aquí hay un ejemplo que lee un número entero y lo imprime dividido por dos
		<div class="well"><code>
<span class="keyword">public class</span> Ejemplo <span class="keyword">extends</span> EsConsole {<br/>
&nbsp;&nbsp;&nbsp;<span class="keyword">public void</span> run() {<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">int</span> numeroDeUsuario = leerInt(<span class="codeText">"por favor digita un numero"</span>);<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;imprimir(numeroDeUsuario / 2);<br/>
&nbsp;&nbsp;&nbsp;}<br/>
}<br/>
		</code></div>

		%include templates/parts/footer.html

</div>
</body>
