<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Events Reference
			</h1>
<p>
				Written by Danielle Kain, Kevin Miller
			</p>
</div>
<hr/>
		 Para comenzar, cuando esté utilizando MouseEvents, asegúrese de escribir lo siguiente en su método de ejecución:
		<div class="well"><code>
agregarMouseListeners();
		</code></div>
		Esto alertará al programa para que reaccione a los MouseEventos.

		<!--If you are using KeyListeners you'll want to include:
		<div class="well"><code>
añadirOyentesClave();
		</code></div>-->

		Una vez que haya configurado a todos sus oyentes, ¡es hora de llegar al código! A continuación se muestra una lista de los cuatro eventos que pueden ser útiles para Breakout. Para una lista completa, echa un vistazo a: <!--<a href="http://docs.oracle.com/javase/7/docs/api/java/awt/event/MouseListener.html">this link</a> for MouseEvents --> <br/><br/>
<div class="well"><code><pre>
public void mousePulsado(EventoDelRatón e) {
   //Este método se llama cuando se hace clic con el mouse.
}

public void mouseMovido(EventoDelRatón e) {
   //Este método se llama cuando se mueve el mouse.
}

esperarClic(); //Esto hará una pausa hasta que el usuario haga clic.
		</pre></code></div>
<p>Here are some examples of how to use events:
		<div class="well"><code><pre>
public void mousePulsado(EventoDelRatón e) {
   imprimir("X: " + e.darX() + "y:" + e.darY());
   //Esto imprimirá las coordenadas de donde hace clic.
}</pre></code></div>


	<h3>KeyListeners</h3>
	<p> Here is a reference for <a href="http://docs.oracle.com/javase/7/docs/api/java/awt/event/KeyListener.html">KeyListeners</a>. </p>
		
		%include templates/parts/footer.html

</p></div>
</body>
