<head>


	%include templates/parts/head.html

</head>

<body>
	<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

	<!-- Main Content -->
	<div class="container">
		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Referencia de Eventos
			</h1>
			<p>
				Written by Danielle Kain, Kevin Miller, and Nathan Dalal
			</p>
		</div>
		<hr />


		<h3>Listeners de Mouse</h3>
		Cuando usas eventos de mouse, debes escribir el método <code>agregarMouseListeners</code> en la primera línea
		del método <code>run()</code>. Esto indica al programa que debe reaccionar a los eventos de MouseEvento.
		<div class="well"><code>
agregarMouseListeners();
</code></div>

		A continuación se encuentran todos los métodos que puedes usar para describir el movimiento y uso del mouse en tu código. 
		Recuerda que los métodos <b>no se llaman manualmente</b> sino que se invocan cuando el evento sucede.
		<div class="well"><code>
	public void mouseMovido(MouseEvento e) // cuando muevas mouse<br/>
	public void mouseArrastrado(MouseEvento e) // cuando arrastres mouse<br/>

	public void mousePulsado(MouseEvento e) // cuando pulses en mouse<br/>
	public void mouseSoltado(MouseEvento e) // despues de pulsar cuando el mouse solte<br/>
	public void mouseClickeado(MouseEvento e) // click (pulsado y soltado en misma ubicación)<br/>

	public void mouseSale(MouseEvento e) // cuando mouse sale del canvas<br/>
	public void mouseEntra(MouseEvento e) // cuando mouse entra el canvas<br/>
</code></div>


		Esto es un ejemplo de escribir uno de esos métodos.
		<div class="well"><code><pre>
public void mousePulsado(MouseEvento e) {
	imprimir("X: " + e.darX() + "y:" + e.darY());
	//Esto imprimirá las coordenadas de donde presionas mouse.
}</pre></code></div>

		<!-- 		This will alert the program to react to MouseEvents. If you are using KeyListeners you'll want to include:
		<div class="well"><code>
agregarTeclaListeners();
		</code></div> -->

		<h3>Listeners de teclas</h3>
		Para escuchar al teclado, como los eventos del mouse, necesitas llamar a este método en run() para agregar los métodos de tecla.
		<div class="well"><code>
agregarTeclaListeners();
		</code></div>

		<b>Antes de funcionar tienes que hacer click al canvas.</b>
		<div class="well"><code>
	public void	teclaPulsada(KeyEvent e) // cuando pulses en cualquier tecla<br/>
	public void	teclaSoltada(KeyEvent e) // despues de pulsar cuando soltes de la tecla<br/>
	public void	teclaEspichada(KeyEvent e) // una escrita de cualquier tecla<br/>
</code></div>

Para usar los eventos de KeyEvent, tienes que importar esta librería. Ten cuidado porque esta librería, como puedes ver en el ejemplo abajo, es en inglés. Si necesitas ayuda con la lengua o con escuchar al teclado, pregunta a tu líder de sección.
<div class="well"><code>
import java.awt.event.KeyEvent;
</code></div>

		Este es un ejemplo de escuchar por los movimientos de "WASD".
		<div class="well"><code><pre>
public void teclaEspichada(KeyEvent e) {
	if (e.getKeyCode() == KeyEvent.VK_W) {
		imprimir("arriba");
	}
	if (e.getKeyCode() == KeyEvent.VK_A) {
		imprimir("izquierda");
	}
	if (e.getKeyCode() == KeyEvent.VK_S) {
		imprimir("abajo");
	}
	if (e.getKeyCode() == KeyEvent.VK_D) {
		imprimir("derecha");
	}
}</pre></code></div>


		%include templates/parts/footer.html

		</p>
	</div>
</body>