<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Events Reference
			</h1>
<p>
				Written by Danielle Kain, Kevin Miller
			</p>
</div>
<hr/>

	
		<h3>Mouse Listeners</h3>
		Cuando usas eventos de mouse, es necesario poner este método en su primera linea del método run(). Esto alertará al programa para que reaccione a los eventos de MouseEvento.
<div class="well"><code>
agregarMouseListeners();
</code></div>

		Aquí tenemos todos los métodos que escribirás para usar el movimiento y uso del mouse en su código. Recuerda que <b>no se debe llamar esos métodos</b>. Cuando lo escriben, los métodos van a llamarse cuando el evento pase.
<div class="well"><code>
	public void mouseMovido(MouseEvento e) // cuando muevas mouse<br/>
	public void mouseArrastrado(MouseEvento e) // cuando arrastres mouse<br/>

	public void mousePulsado(MouseEvento e) // cuando pulses en mouse<br/>
	public void mouseSoltado(MouseEvento e) // despues de pulsar cuando el mouse solte<br/>
	public void mouseClickeado(MouseEvento e) // click (pulsado y soltado en misma ubicación)<br/>

	public void mouseSale(MouseEvento e) // cuando mouse sale del canvas<br/>
	public void mouseEntra(MouseEvento e) // cuando mouse entra el canvas<br/>
</code></div>


		Esto es un ejemplo de escribir uno de esos métodos.
		<div class="well"><code><pre>
public void mousePulsado(MouseEvento e) {
	imprimir("X: " + e.darX() + "y:" + e.darY());
	//Esto imprimirá las coordenadas de donde presionas mouse.
}</pre></code></div>

<!-- 		This will alert the program to react to MouseEvents. If you are using KeyListeners you'll want to include:
		<div class="well"><code>
agregarTeclaListeners();
		</code></div> -->

	<h3>Tecla Listeners</h3>
	Para escuchar los eventos de teclado, pregunta tu líder de sección.
	
		
		%include templates/parts/footer.html

</p></div>
</body>
