<head>

	%include templates/parts/head.html
	<style type="text/css">
	.refCard {
		display: flex;
		align-items: stretch;
		width:100%;
	}

	.refCol {
		flex-grow:1;
		width:370px;
	}

	.bordered {
		border: 1px solid black
	}

	.refCel {
		padding-left: 5px;
	}

	.refCode {
		margin-left:5px;
		margin-top:7px;
	}

	.refComment {
		color:#729683;
  font-family: monaco;
  font-weight:400;
  font-size:13px;
	}

	.comment {
  color:#729683;
  font-family: monaco;
  font-weight:400;
  font-size:13px;
}

	.demoText{
  color:blue;
}

.keyword {
  color:#7e0855;
}

</style>
</head>

<body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content -->
<div class="container"><!-- Header -->
	<div id="pageHeader"><h1> Referencia de karel </h1>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12">


<p>
	Este apéndice define la estructura del lenguaje de programación Karel en una sola página.
</p>

<div class="refCard bordered">
	<div class="refCol">
		<div class="refCel bordered">
			<b>Comandos de Karel incorporados:</b>
			
			<p class="refCode">
				<code>moverse();</code><br/>
				<code>girarIzquierda();</code></br/>
				<code>ponerCono();</code></br/>
				<code>recogerCono();</code></br/>
			</p>
		</div>

		<div class="refCel bordered">
			<b>Estructura de un programa de Karel:</b>
			
			<p class="refCode">
				<code class="comment">/*</code></br/>
<code class="comment">&nbsp;* Los comentarios pueden incluirse en</code><br/>
<code class="comment">&nbsp;* cualquier parte del programa entre</code><br/>
<code class="comment">&nbsp;* una barra-asterisco y una asterisco-barra</code><br/>
<code class="comment">&nbsp;*/</code><br/>

				<code><span class="keyword">public class</span> <i class="demoText">nombre</i> <span class="keyword">extends</span> EsKarel {</code><br/>

				<br/>
				<code>&nbsp;&nbsp;&nbsp;<span class="keyword">public void</span> run() {</code><br/>
				<code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><i class="demoText">declaraciones a repetir</i><br/>
				<code>&nbsp;&nbsp;&nbsp;}</code><br/>
				<br/>
				<code>&nbsp;&nbsp;&nbsp;</code><i class="demoText">definiciones de métodos privados</i><br/>
				<code>}</code><br/></p>
		</div>

		<div class="refCel bordered">
			<b>Nombres de los condiciones:</b>
			
			<div class="refCard" style="margin-top:7px">
				<div class="refCol">
					<code>frenteDespejado()</code><br/>
					<code>izquierdaDespejada()</code><br/>
					<code>derechaDespejada()</code><br/>
					<code>conosPresentes()</code><br/>
					<code>rumboNorte()</code><br/>
					<code>rumboSur()</code><br/>
					<code>rumboEste()</code><br/>
					<code>rumboOeste()</code><br/>
					<code>bolsaConConos()</code><br/>
				</div>
				<div class="refCol">
					<code>frenteBloqueado()</code>
					<code>izquierdaBloqueada()</code><br/>
					<code>derechaBloqueada()</code><br/>
					<code>conosAusentes()</code><br/>
					<code>sinRumboNorte()</code><br/>
					<code>sinRumboSur()</code><br/>
					<code>sinRumboEste()</code><br/>
					<code>sinRumboOeste()</code><br/>
					<code>bolsaSinConos()</code><br/>
				</div>
			</div>

			
		</div>


		
	</div>

	<div class="refCol">
		<div class="refCel bordered">
			<b>Condicionales:</b>
			<p class="refCode"><code><span class="keyword">if</span>(</code><i class="demoText">condición</i><code>){</code><br/><i class="demoText" style="margin-left:2em">el código de bloqueo</i><br/><code>}</code></p>

			<p class="refCode" style="margin-top:15px"><code><span class="keyword">if</span>(</code><i class="demoText">condición</i><code>){</code><br/><i class="demoText" style="margin-left:2em">bloque de código por "sí"</i><br/><code>} <span class="keyword">else</span> {</code><br/><i class="demoText" style="margin-left:2em">bloque de código por "no"</i><br/><code>}</code></p>
		</div>
		<div class="refCel bordered">
			<b>Ciclos:</b>
			<p class="refCode"><code><span class="keyword">for</span>(int i = 0; i &lt;</code>&nbsp;<i class="demoText" >contar</i><code>; i++){</code><br/><i class="demoText" style="margin-left:2em">declaraciones a repetir</i><br/><code>}</code></p>

			<p class="refCode" style="margin-top:15px"><code><span class="keyword">while</span>(</code><i class="demoText">condición</i><code>){</code><br/><i class="demoText" style="margin-left:2em">declaraciones a repetir</i><br/><code>}</code></p>
		</div>

		<div class="refCel bordered">
			<b>Declaración de un método:</b>
			<p class="refCode"><code><span class="keyword">private void</span></code><i class="demoText" style="margin-left:10px">nombre</i><code>() {</code><br/><i class="demoText" style="margin-left:2em">comandos en el cuerpo del método.</i><br/><code>}</code><br/></p>
		</div>
		

		<div class="refCel bordered">
			<b>Comandos de Karel adicionales:</b>
			
			<p class="refCode">
				<!-- <code>girarDerecha();</code></br/> -->
				<code>mediaVuelta();</code></br/>
				<code>aleatorio(</code><i class="demoText">p</i><code>);</code></br/>
				<code>pintarEsquina(</code><i class="demoText">color</i><code>);</code></br/>
			</p>
			<!-- for balance -->
			<div style="height:16px"> </div>
		</div>
	</div>


</div>

			

		</div>
	</div>

		
		
		%include templates/parts/footer.html
</div></body>