<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Referencia de Map
			</h1>
			<p>
				Written by Nathan Dalal
			</p>

		</div>
		<hr/>

		El tipo Map se usa para crear tablas de búsqueda.
		Cada elemento en el Map tiene una clave y un valor, y cada clave solo puede tener un valor.
		Esos métodos puedes usar con cualquier Map.<br/>

		Map está escrito en inglés. Si quieres ayuda con la lengua, nos avisa porfa :)
		<div class="row">
			<div class="col-md-12">
				<center><img style="width:700px;" src="{{pathToRoot}}img/handouts/arrayLists/maps_es.png"></img></center>
			</div>
		</div>

		
		
		%include templates/parts/footer.html

	</div>
</body>
