<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Referencia de Map
			</h1>
			<p>
				Written by Nathan Dalal
			</p>

		</div>
		<hr/>

		El tipo ArrayList te ayuda guardar muchos valores en un lista ordenada.
		Esos métodos puedes usar con cualquier ArrayList.<br/>

		ArrayList está escrito en inglés. Si quieres ayuda con la lengua, nos avisa porfa :)
		<div class="row">
			<div class="col-md-12">
				<center><img style="width:700px;" src="{{pathToRoot}}img/handouts/arrayLists/arrayLists.png"></img></center>
			</div>
		</div>

		
		
		%include templates/parts/footer.html

	</div>
</body>
