<head>
	%include templates/parts/head.html
</head>

<body>
	<!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
	<!-- Main Content -->
	<div class="container">
		<!-- Header -->
		<div id="pageHeader">
			<h1> Generador aleatorio </h1>
			<p> Escrito por Danielle Kain y Lisa Yan </p>
		</div>
		<hr /> Los objetos aleatorios te permiten agregar azar a tus programas.
		Puedes crear varios tipos de objetos aleatorios usando los métodos que te ofrece <code>EsConsole</code>.
		Por ejemplo: <div class="well">
			<code>int enteroAleatorio = intAleatorio(); //Devuelve un número entero aleatorio <br/> 
	double doubleAlAzar = doubleAleatorio(); //Devuelve un double aleatorio <br/> Color colorAlAzar = colorAleatorio(); //Devuelve un color al azar <br/> boolean booleanAlAzar = booleanAleatorio(); //Devuelve un booleano aleatorio</code>
		</div>
		<h2> Enteros </h2>
		<p> La llamada al método sin parámetros devuelve un entero aleatorio <i>sin límites</i>, es decir, puede ser un
			número inmenso o uno muy pequeño. Es posible definir un rango para los números enteros generados al pasarlo como parámetro a la función. 
		<div class="well">
			<code>int minimoEntero = 0; <br/> int maximoEntero = 10; <br/> intAleatorio(minimoEntero, maximoEntero); // Número entero en el rango [0,10] <br/></code>
		</div>
		<h2> Doubles </h2>
		<p> La llamada al método por defecto, es decir, sin parámetros, devuelve un double entre 0.0 y 1.0. Para aumentar el rango de los doubles generados, también:
			podemos especificar límites. </p>
		<div class="well">
			<code>double y = doubleAleatorio(-3, 5.5); // Nota: -3 se convierte de entero a double (-3.0)</code></div>
		<h2> Booleanos </h2>
		<p> A diferencia de los enteros y los doubles, hay un solo parámetro <code>p</code> que define el comportamiento
			de <code>booleanAleatorio()</code>. El número que se ingresa al método afecta la probabilidad con la que el boolean adquiera
			un valor de <code>true</code> o <code>false</code>.<ul>
				<li> Devuelve <code>true</code> con probabilidad <code>p</code>. </li>
				<li> Devuelve <code>false</code> con probabilidad <code>1-p</code>. </li>
				<li><code>p</code> debe ser un doble entre 0 y 1.0. </li>
				<li> El valor predeterminado de <code>p</code> es 0.5. </li>
			</ul>
			<div class="well">
				<code>boolean probabilidadIgual = booleanAleatorio(); <br/> boolean probabilidadDesigual = rgen.siguienteBooleano(0.75); // devuelve verdad 3/4 del tiempo <br/></code>
			</div>

			%include templates/parts/footer.html
		</p>
	</div>
</body>