<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Envío de tareas </h1></div><hr/><div class="row"><div class="col-md-12"> Al final de cada día, antes de ir a casa, ¡envíe su trabajo! </div></div><div class="row"><div class="col-md-12"><h2> Cómo presentar </h2><p> Para enviar siga estos tres pasos: </p><ol><li> Zip la carpeta que contiene su proyecto. Un video tutorial útil se puede encontrar <a href="https://www.youtube.com/watch?v=pQiv-nu-2CY">aquí</a>. </li><li> Nombre el código postal con su <b>nombre completo</b> y el <b>nombre del proyecto</b>. Por ejemplo, llamaría a mi zip: <code>Tyler_Conklin_Random_Pintor.cremallera</code> si estuviera enviando el proyecto &#39;Random Painter&#39;. </li><li> Suba el archivo utilizando el enlace que le proporcionaron los líderes de su sección en el laboratorio. </li></ol></div></div>
		
		
		%include templates/parts/footer.html
</div></body>