<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Envío de tareas </h1></div><hr/><div class="row">
	

	<div class="col-md-12">
				<p> Para enviar siga estos dos pasos: </p>
				<ol>
					<li> Comprime tu tarea</li>
					<li>Dale un buen nombre</li>
					<li>Envía tu tarea</li>
				</ol>

				
				<h3 style="margin-top:30px">1. Comprime tu tarea</h3>

				<img class="demoImg" src="{{pathToRoot}}img/handouts/submission/submit.png" style="width:700px;"/>

				<h3 style="margin-top:30px">2. Nombre del archivo </h3>
				<p>
					El nombre de tu archivo debería ser el nombre del proyecto, acompañado del ID de tu computador. Por ejemplo <code>Dia1-C001.zip</code>
				</p>

				<h3 style="margin-top:30px">3. Envía tu tarea</h3>

				<p>
					Entra al sitio: <a href="https://sendtomycloud.com/csbridge2019">https://sendtomycloud.com/csbridge2019</a> y envía tu tarea.
				</p>

			</div>


</div>
		
		
		%include templates/parts/footer.html
</div></body>