<head>

    <head>

        %include templates/parts/head.html
        <script src="../karel/js/html/websiteImports.js"></script>
        <script>
            importCss();
        </script>
        <script>
            importJs();
        </script>
    </head>

    <body>
        <!-- Navigation Bar -->
        %include templates/parts/navBarEs.html
        <div class="page-header" style="backgroud-color:#cdbfe3">
            <div class="container">
                <div>
                    <div id="logo"><img id="logoImg" src="{{pathToRoot}}img/logo.jpg" /></div>
                    <div id="headerText" style="padding-bottom:15px;">
                        <div class="h1" style="margin-top:0px;font-size:40px;"> Introducción a la informática </div>
                        <div> Verano 2019 </div>
                        <div> Del 25 de junio al 5 de julio en la Universidad de los Andes, Bogotá. </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content -->

        <div class="container">
            <div class="section" id="information">
                <br/>
                <div>
                    <h2> La idea del curso </h2>
                    <p> El objetivo de este curso de dos semanas es enseñarte los fundamentos de programación hasta el punto en que puedas ir y aprender por tu cuenta. Es enseñado en una colaboración de instructores de Stanford y la Universidad de los Andes. Aprenderás a programar usando materiales del curso de CS106A de Stanford (que es muy similar al curso de introducción de UniAndes). </p>
                    <hr/>
                </div>
                <div>
                    <div class="section" id="schedule">
                        <h2> Los programas </h2>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <!--<th style="width: 80px;">Date</th>-->
                                    <th></th>
                                    <!--<th>Reading</th>-->
                                    <th>Nombre</th>
                                    <th>Tema</th>
                                    <th>Código de Inicio</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th colspan="6"><b>
                                                                    <br>
                                                                    [Karel]</b></th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td>
                                        <a href="{{pathToRoot}}es/projects/collectNewspaper.html"><img class="projectImg" src="{{pathToRoot}}img/icons/newspaper.jpg"></img>
                                        </a>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/collectNewspaper.html">Recoger Periodico</a></td>
                                    <td>Métodos</td>
                                    <td><a href="{{pathToRoot}}starter/Day1es.zip">Day1es.zip</a> </td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/palaceBogota.jpg"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/efes.html">Construir Palacio Nariño</a></td>
                                    <td>Ciclos For</td>
                                    <td><a href="{{pathToRoot}}starter/Day1es.zip">Day1es.zip</a> </td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/mountain.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/mountain.html">Montaña Karel</a></td>
                                    <td>Ciclos While</td>
                                    <td><a href="{{pathToRoot}}starter/Day1es.zip">Day1es.zip</a> </td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/randomPainter2.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/randomPainter.html">Pintor Aleatorio</a></td>
                                    <td>Condicionales</td>
                                    <td><a href="{{pathToRoot}}starter/Day1es.zip">Day1es.zip</a> </td>
                                </tr>

                                <tr>
                                    <th colspan="6"><b>
                                                                    <br>
                                                                    [Variables]</b></th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/sandcastle.jpg"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/sandcastles.html">Castillos de Arena</a></td>
                                    <td>Variables</td>
                                    <td><a href="{{pathToRoot}}starter/Day2es.zip">Day2es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/guess.jpg"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/favoriteNumber.html">Numero Favorito</a></td>
                                    <td>Variables</td>
                                    <td><a href="{{pathToRoot}}starter/Day2es.zip">Day2es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/someSum.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/someSum.html">Sumar Numeros</a></td>
                                    <td>Variables</td>
                                    <td><a href="{{pathToRoot}}starter/Day2es.zip">Day2es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/nim.jpg"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/gameOfStones.html">Juego de Nimm</a></td>
                                    <td>Variables</td>
                                    <td><a href="{{pathToRoot}}starter/Day2es.zip">Day2es.zip</a></td>
                                </tr>

                                <tr>
                                    <th colspan="6">
                                        <b><br>[Graphics]</b>
                                    </th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/awesome.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/awesome.html">Programar es genial</a></td>
                                    <td>Graphics</td>
                                    <td><a href="{{pathToRoot}}starter/Day3es.zip">Day3es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/randomCircles.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/randomCircles.html">Círculos al azar</a></td>
                                    <td>Aleatoriedad</td>
                                    <td><a href="{{pathToRoot}}starter/Day3es.zip">Day3es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/mysterySquare.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/mysterySquare.html">Cuadrado misterioso</a></td>
                                    <td>Aleatoriedad</td>
                                    <td><a href="{{pathToRoot}}starter/Day3es.zip">Day3es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/bouncing.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/bouncingBall.html">Pelota que rebota</a></td>
                                    <td>Animación</td>
                                    <td><a href="{{pathToRoot}}starter/Day3es.zip">Day3es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/stringArt.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/stringArt.html">Arte de cuerdas (Opcional)</a></td>
                                    <td>Ciclos For</td>
                                    <td><a href="{{pathToRoot}}starter/Day3es.zip">Day3es.zip</a></td>
                                </tr>

                                <tr>
                                    <th colspan="6"><b>
                        <br>
                        [Advanced Java]</b></th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/madMax.jpg"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/madMethods.html">Métodos locos</a></td>
                                    <td>Parámetros y Retornos</td>
                                    <td><a href="{{pathToRoot}}starter/Day4es.zip">Day4es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/target.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/target.html">Target</a></td>
                                    <td>Parámetros</td>
                                    <td><a href="{{pathToRoot}}starter/Day4es.zip">Day4es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/liftoff.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/liftoff.html">Liftoff</a></td>
                                    <td>Ciclos For</td>
                                    <td><a href="{{pathToRoot}}starter/Day4es.zip">Day4es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/illusion.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/illusion.html">Optical Illusion</a></td>
                                    <td>Ciclos For</td>
                                    <td><a href="{{pathToRoot}}starter/Day4es.zip">Day4es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/sunset.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/sunset.html">Short Film (Optional)</a></td>
                                    <td>Parámetros y Retornos</td>
                                    <td><a href="{{pathToRoot}}starter/Day4es.zip">Day4es.zip</a></td>
                                </tr>

                                <tr>
                                    <th colspan="6"><b>
                        <br>
                        [Events]</b></th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/mouseReporter.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/mouseTracker.html">MouseTracker</a></td>
                                    <td>Eventos</td>
                                    <td><a href="{{pathToRoot}}starter/Day5es.zip">Day5es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/makingTracks.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/makingTracks.html">Dejando huellas</a></td>
                                    <td>Eventos</td>
                                    <td><a href="{{pathToRoot}}starter/Day5es.zip">Day5es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/catchMeIfYouCan.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/catchMeIfYouCan.html">Atrápame si puedes</a></td>
                                    <td>Atributos</td>
                                    <td><a href="{{pathToRoot}}starter/Day5es.zip">Day5es.zip</a></td>
                                </tr>

                                <tr>
                                    <th colspan="6"><b>
                        <br>
                        [Escaparse]</b></th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/breakout.jpg"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/breakout.html">Escaparse!</a></td>
                                    <td>Interactors</td>
                                    <td><a href="{{pathToRoot}}starter/Escaparse.zip">Escaparse.zip</a></td>
                                </tr>

                                <tr>
                                    <th colspan="6"><b>
                        <br>
                        [ArrayLists]</b></th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/numbers.jpg"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/sortedNumbers.html">Números ordenados</a></td>
                                    <td>ArrayLists</td>
                                    <td><a href="{{pathToRoot}}starter/Day7es.zip">Day7es.zip</a></td>
                                </tr>
s
                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/snow.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/snow.html">Nieve</a></td>
                                    <td>ArrayLists</td>
                                    <td><a href="{{pathToRoot}}starter/Day7es.zip">Day7es.zip</a></td>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/mouseGame.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/mouseGame.html">[Opcional] La Línea</a></td>
                                    <td>ArrayLists</td>
                                    <td><a href="{{pathToRoot}}starter/Day7es.zip">Day7es.zip</a> </td>
                                </tr>

                                <tr>
                                    <th colspan="6"><b>
                        <br>
                        [Final Project]</b></th>
                                </tr>

                                <tr class="table-bordered table-striped">
                                    <td><img class="projectImg" src="{{pathToRoot}}img/icons/project.png"></img>
                                    </td>
                                    <td><a href="{{pathToRoot}}es/projects/project.html">Make Your Own</a></td>
                                    <td>All</td>
                                    <td><a href="{{pathToRoot}}starter/FinalProject.zip">FinalProject.zip</a></td>
                                </tr>

                            </tbody>
                        </table>

                        <hr/>
                    </div>
                    <div class="section" id="staff">
                        <h2> Profesores </h2> 
                        %include templates/parts/peeps.html
                        <hr/>
                    </div>

                    <div class="section" id="playWithKarel">
                        <h2> Plan de estudios </h2><img src="{{pathToRoot}}img/icons/curriculum.jpg" style="width:100%" />
                        <hr/>
                    </div>

                    %include templates/parts/footer.html
                </div>
            </div>
        </div>
    </body>
</head>