<head>

	%include templates/parts/head.html

</style>
</head>

<body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content -->
<div class="container"><!-- Header -->
	<div id="pageHeader"><h1> Secret SL page </h1>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12">

			<p>
				Link with <a href="https://docs.google.com/spreadsheets/d/1lUY1noz9MnL14vfKKitDN4gjdns9VC3awFFUu6A_UNE/edit#gid=1753669008">schedule</a>
			</p>

			<p>
				Link with <a href="https://docs.google.com/document/d/1L4cZhvFkKIgsjtRundc5Ad7JntTiAR94vTiyEDPL15c/edit?usp=sharing">best practices</a>
			</p>

		</div>
	</div>

		
		
		%include templates/parts/footer.html
</div></body>