<head>

	%include templates/parts/head.html

</style>
</head>

<body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content -->
<div class="container"><!-- Header -->
	<div id="pageHeader"><h1> Secret SL page </h1>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12">

			<h3>Morning meeting</h3>
			<p>See you all tomorrow (June 25th) at 8:45a in the lecture hall</p>

			<h3>Links</h3>
			<p>
				Link with <a href="https://docs.google.com/spreadsheets/d/1lUY1noz9MnL14vfKKitDN4gjdns9VC3awFFUu6A_UNE/edit#gid=1753669008">schedule</a>
			</p>

			<p>
				Link with <a href="https://docs.google.com/document/d/1L4cZhvFkKIgsjtRundc5Ad7JntTiAR94vTiyEDPL15c/edit?usp=sharing">best practices</a>
			</p>

			<h3>Sign in</h3>

			<div class="alert alert-success">
				<b>Remember</b>: At the start of each lab have students sign in. Furmularios > Ingresar. You will have to make up a special password each time (tiger, malaysia, tamales etc) and count the number of students.
			</div>

			<h3>Favorite number solution</h3>
			<p>Teaching pro tips
				<ol>
					<li>Learning goal: Variables with While + Conditions
					<li>Milestone: play the game with no feedback. Just guess until correct.
					<li>Encourage students to work in pairs to program out the milestones.
						<li>The hardest part is that guess must be defined before the loo
				</ol>
			</p>

<pre>public class NumeroFavorito extends EsConsole {

  // cambia esto para que sea tu número favorito
  private static final int NUMERO_FAVORITO = 88;

	// solution 1
  public void run() {
    imprimir("Intenta adivinar mi número favorito (entre 0 y 100)");
    
    int guess = leerInt("Adivinar: ");
    while(guess != NUMERO_FAVORITO) {
      if(guess < NUMERO_FAVORITO) {
        imprimir("Demasiado pequena... ");
      } else if(guess > NUMERO_FAVORITO) {
        imprimir("Demasiado grande... ");
      } 

      if(guess != NUMERO_FAVORITO) {
        guess = leerInt("Adivinar: ");
      }
    }
    imprimir("Bien hecho");
  }

}</pre>

<pre>public class NumeroFavorito extends EsConsole {

  // cambia esto para que sea tu número favorito
  private static final int NUMERO_FAVORITO = 88;
  
  // solution 2
  public void run() {
    imprimir("Intenta adivinar mi número favorito (entre 0 y 100)");
    
    int guess = 0;
    while(guess != NUMERO_FAVORITO) {
      guess = leerInt("Adivinar: ");
      if(guess < NUMERO_FAVORITO) {
        imprimir("Demasiado pequena... ");
      } else if(guess > NUMERO_FAVORITO) {
        imprimir("Demasiado grande... ");
      } else {
        imprimir("Bien hecho");
      }
    }
  }

}</pre>

<h3>Nimm soln</h3>
<pre>int numStones = 20;
int playerTurn = 1;
while(numStones > 0) {
  imprimir("Quedan " + numStones + " piedras");
  int v = leerInt("Jugador " + playerTurn + " le gustaría quitar 1 o 2 piedras? ");
  while(v < 1 || v > 2 || v > numStones) {
    v = leerInt("Por favor ingrese 1 o 2: ");
  }
  numStones -= v;
  if(playerTurn == 1) {
    playerTurn = 2;
  } else {
    playerTurn = 1;
  }
  imprimir("");
}
imprimir("Jugador " + playerTurn + " gana!");</pre>

			<h3>Submission</h3>

				<p>Eclipse has a "submit" button. If the student hits it, it will zip up their work (to the desktop). Have them name it <br/><code>&nbsp;&nbsp;&nbsp;Day2-&lt;computerId&gt;.zip</code><br/>hey should then upload their zip here: <a href="">coming soon</a></p>
		

		</div>
	</div>

		
		
		%include templates/parts/footer.html
</div></body>