<head>

    %include templates/parts/head.html
</head>

<body>
    <!-- Navigation Bar -->
    %include templates/parts/navBarEs.html
    <!-- Main Content -->
    <div class="container">
        <!-- Header -->
        <div id="pageHeader">
            <h1> La programación es impresionante </h1>
            <p> Escrito por Chris Piech y Eric Roberts </p>
            <p> Folletos: <a href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a>
                <br/> Ejemplos trabajados: <a href="{{pathToRoot}}es/projects/robotFace.html">Cara de robot</a></p>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p> El objetivo de este programa es conseguir que crees tu primer programa de gráficos. Debes dibujar tres rectángulos (uno rojo, uno azul y uno amarillo) y en el centro de la pantalla escribe &quot;La programación es impresionante&quot;. Puede hacer sus rectángulos de cualquier tamaño y colocarlos en cualquier posición, siempre que sean visibles. Aquí es cómo se veía nuestro programa. </p>
                <p>
                    <center><img src="{{pathToRoot}}img/projects/awesome/demo.png" style="width:100%" /></center>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2> Hito 1: Dibujar rectángulos </h2>
                <p> El arte geométrico muy simple a veces se vende por grandes cantidades de dinero. Por ejemplo, esta pintura, Composición II de Piet Mondrian, se vendió por $ 40 millones: </p>
                <p>
                    <center><img src="{{pathToRoot}}img/projects/awesome/mondrian.jpg" style="width:300px" /></center>
                </p>
                <p> Su primera tarea es agregar tres rectángulos, uno rojo, uno azul y uno amarillo. Usted <b>no</b> tiene que crear la imagen de arriba. Puede colocar sus rectángulos en cualquier lugar de la pantalla que desee. Si vendes tu foto por millones de dólares ... recuerda a tus maestros :). Si tienes ganas de agregar más rectángulos, eso es genial. Solo asegúrate de terminar el hito # 2 primero. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2> Hito 2: Texto centrado </h2>
                <p> Crea y agrega una etiqueta en el centro de la pantalla. Puede obtener el ancho y el alto de la pantalla con los comandos:
                    <div class="well"><code>obtenerAncho(); <br/> obtenerAltura();</code></div>
                </p>
                <p> De manera similar, si tiene una etiqueta llamada EtiquetaG, puede obtener el ancho y el alto de la etiqueta con los comandos:
                    <div class="well"><code>etiqueta.obtenerAncho(); <br/> etiqueta.obtenerAltura();</code></div>
                </p>
                <p> Si quieres que tu texto se vea más elegante, puedes cambiar su fuente:
                    <div class="well"><code>etiqueta.establecerFuente(&quot;Mensajero-50&quot;);</code></div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">¡Eso es todo! Si terminas temprano, siéntete libre de agregar a tu foto. Si te gustan los óvalos ... también puedes agregar óvalos. </div>
        </div>

        %include templates/parts/footer.html
    </div>
</body>