<head>

    %include templates/parts/head.html
</head>

<body>
    <!-- Navigation Bar -->
    %include templates/parts/navBarEs.html
    <!-- Main Content -->
    <div class="container">
        <!-- Header -->
        <div id="pageHeader">
            <h1> Programar es genial </h1>
            <p> Escrito por Chris Piech y Eric Roberts </p>
            <p> Folletos: <a href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a>
                <br/> Ejemplos trabajados: <a href="{{pathToRoot}}es/projects/robotFace.html">Cara de robot</a></p>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p> El objetivo de este programa es conseguir que crees tu primer programa de gráficos. Debes dibujar tres rectángulos (uno rojo, uno azul y uno amarillo) y en el centro de la pantalla escribe &quot;La programación es impresionante&quot;. Puedes hacer rectángulos de cualquier tamaño y colocarlos en cualquier posición, siempre y cuando sean visibles. 
                        <p><b> Importante: </b>para que desarrolles con éxito el ejercicio es necesario que revises cada una de las metas que se muestran a continuación. Si divides tu programa en partes más pequeñas será más fácil crearlo. </p>
                        Así es como se vería nuestro programa: </p>
                <p>
                    <center><img src="{{pathToRoot}}img/projects/awesome/demo.png" style="width:100%" /></center>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2> Meta #1: Dibujar rectángulos </h2>
                <p> El arte geométrico, muy simple a veces, se vende por grandes cantidades de dinero. Por ejemplo, esta pintura, Composición II de Piet Mondrian, se vendió por $ 40 millones: </p>
                <p>
                    <center><img src="{{pathToRoot}}img/projects/awesome/mondrian.jpg" style="width:300px" /></center>
                </p>
                <p> Tu primera tarea es agregar tres rectángulos, uno rojo, uno azul y uno amarillo. <b>No</b> tienes que imitar la imagen de arriba, siéntete libre de poner los rectángulos donde quieras. Si vendes tu foto por millones de dólares ... recuerda a tus maestros :). Si tienes ganas de agregar más rectángulos, ¡genial!. Solo asegúrate de terminar la meta #2 primero. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2> Meta #2: Texto centrado </h2>
                <p> Crea y agrega una etiqueta en el centro de la pantalla. Puede obtener el ancho y el alto de la pantalla con los comandos:
                    <div class="well"><code>darAncho(); <br/> darAltura();</code></div>
                </p>
                <p> De manera similar, si tienes una etiqueta llamada SLabel, puedes obtener el ancho y el alto de la etiqueta con los comandos:
                    <div class="well"><code>etiqueta.darAncho(); <br/> etiqueta.darAltura();</code></div>
                </p>
                <p> Si quieres que tu texto se vea más elegante, puedes cambiar su fuente usando:
                    <div class="well"><code>etiqueta.cambiarFont(&quot;Courier-50&quot;);</code></div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">¡Eso es todo! Si terminas temprano, siéntete libre de agregar más cosas a tu imagen. Si te gustan los óvalos ... también puedes agregar óvalos. </div>
        </div>

        %include templates/parts/footer.html
    </div>
</body>