<head>

    %include templates/parts/head.html
</head>

<body>
    <!-- Navigation Bar -->
    %include templates/parts/navBarEs.html
    <!-- Main Content -->
    <div class="container">
        <!-- Header -->
        <div id="pageHeader">
            <h1> Pelota que rebota </h1>
            <p> Basado en un ejemplo de Mehran Sahami </p>
            <p> Folletos: <a href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a>
                <br/> Ejemplo solucionado: <a href="{{pathToRoot}}es/projects/mysterySquare.html">Cuadrado misterioso</a>, <a href="{{pathToRoot}}es/projects/gravityBall.html">Bola de gravedad</a>, <a href="{{pathToRoot}}es/projects/goCenter.html">Ir al centro</a></p>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p> Escribe un programa EsGraphics que cree una pelota (una instancia de SOval) y la haga rebotar en la pantalla. Si la pelota rebota contra las paredes izquierda o derecha, se refleja la dirección x de la bola. Si la pelota rebota contra las paredes superior e inferior, la bola cambia de dirección. No se tiene en cuenta la gravedad.</p>
                <p><b> Importante: </b>para que desarrolles con éxito el ejercicio es necesario que revises cada una de las metas que se muestran a continuación. Si divides tu programa en partes más pequeñas será más fácil crearlo. </p>
                <p> La siguiente figura muestra una pelota que se mueve tras rebotar con la pared inferior. </p>
                <p>
                    <center><img src="{{pathToRoot}}img/projects/bouncingBall/demo.png" style="width:500px" /></center>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2> Meta #1: Crear una pelota </h2>
                <p> Crea una pelota de cualquier tamaño.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2> Meta #2: Haz que se mueva </h2>
                <p> Crea un ciclo infinito y dentro del ciclo actualiza la pelota y pausa. Puedes pausar usando el método:
                    <div class="well"><code>pausa( <i>milisegundos</i>);</code></div>¡Si no hace una pausa, la computadora animará más rápido para que el ojo humano pueda ver el movimiento! </p>
                <p> También hay un método para mover un SOval (o un SRect):
                    <div class="well"><code><i>objeto</i>.moverse( <i>dx</i>, <i>dy</i>);</code></div><i>dx</i> es el número de píxeles que el objeto se moverá en la dirección x.
                    <br/><i>dy</i> es el número de píxeles que el objeto se moverá en la dirección y. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2> Meta #3: Rebote </h2>
                <p> Ahora, antes de actualizar la posición de la bola, debe verificar si la bola ha chocado con la pared y, de ser así, debe actualizar la dirección en la que se está moviendo. </p>
                <p> Las reflexiones deben seguir la regla de que el ángulo de incidencia es igual al ángulo de reflexión. Esto resulta ser fácil de implementar, simplemente gira la dirección <code>x</code> si golpeas una pared izquierda o derecha y gira la dirección <code>y</code> si golpeas una pared inferior o superior </p>
                <p>¿Cómo sabes la posición de la pelota? Puedes usar los métodos: </p>
                <div class="well"><code><i>objeto</i>.darX(); <br/><i>objeto</i>.darY();</code></div>
                <p> Asegúrate de revisar las demostraciones: <a href="{{pathToRoot}}es/projects/gravityBall.html">Gravity Ball</a> and <a href="{{pathToRoot}}es/projects/goCenter.html">Go Center</a>.</p> </div>
        </div>

        %include templates/parts/footer.html
    </div>
</body>