<head>

  %include templates/parts/head.html
</head>

<body>
  <!-- Navigation Bar -->
  %include templates/parts/navBarEs.html
  <!-- Main Content -->
  <div class="container">
    <!-- Header -->
    <div id="pageHeader">
      <h1> Atrápame si puedes </h1>
      <p> Problema de Julia Lee, Kerem Goksel y Chris Piech </p>
      <p> Folletos: <a href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a>, <a
          href="{{pathToRoot}}es/handouts/events.html">Eventos</a><br /> Ejemplos: <a
          href="{{pathToRoot}}es/projects/stampTool.html">Stamp Tool</a></p>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <p>
          <ol>
            <li> Agrega un cuadrado azul &quot;astuto&quot; al lienzo. </li>
            <li> Añade 20 cuadrados negros al lienzo. </li>
            <li> Agrega un detector de eventos del mouse que mueva el cuadrado &quot;furtivo&quot; a una posición
              aleatoria cada vez que el mouse lo toque. </li>
          </ol>
        </p>
        <p>
          <center><img src="{{pathToRoot}}img/projects/catchMeIfYouCan/demo1.png" style="width:500px" /></center>
        </p>
        <p>
          <center> Cuando el ratón toca el cuadrado &quot;furtivo&quot;, se mueve. <img
              src="{{pathToRoot}}img/projects/catchMeIfYouCan/demo2.png" style="width:500px" /></center>
        </p>
      </div>
    </div><br />

    %include templates/parts/footer.html
  </div>
</body>