<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Gráficos creativos </h1><p> Escrito por Lisa Yan </p><p> Folletos: <a href="{{pathToRoot}}en/handouts/graphics.html">Referencia Gráfica</a><br/></p></div><hr/><div class="row"><div class="col-md-12"><p> Este es un programa extra! </p><p> Escribe un programa de gráficos que haga lo que quieras! Aquí hay un ejemplo de algo que puedes hacer. </p><p><center><img src="{{pathToRoot}}img/projects/creativeGraphics/example.gif" style="width:400px;border:2px solid grey"/></center></p><p> Aquí hay un Karel para ayudarte. </p><center><img src="{{pathToRoot}}img/projects/creativeGraphics/karel.png" style="width:80px"/></center></div>

		
		%include templates/parts/footer.html
</div></div></body>