<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Arte creativo de cuerdas </h1><p> Escrito por Lisa Yan </p><p> Folletos: <a href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a><br/></p></div><hr/><div class="row"><div class="col-md-12"><p> Este es un programa extra! </p><p> Escribe un ProgramaDeGraficos que extienda el Arte de cuerdas que escribiste en <a href="{{pathToRoot}}es/projects/stringArt.html">Arte de cuerdas</a>. Esta vez, agrega cuatro curvas al lienzo. </p><p><center><img src="{{pathToRoot}}img/projects/creativeArteDeCuerdas/corners.png" style="width:400px;border:2px solid grey"/></center></p><h2> Extensión </h2><p> Haz tu propio arte de cuerdas genial! </p><center><img src="{{pathToRoot}}img/projects/creativeArteDeCuerdas/customFancy.png" style="width:400px;border:2px solid grey"/></center></div>

		
		%include templates/parts/footer.html
</div></div></body>