<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Número favorito </h1><p> Problema escrito por Chris Bryce y Julia </p><p> Ejemplos trabajados: <a href="{{pathToRoot}}en/projects/emc2.html">E = MC2</a>, <a href="{{pathToRoot}}en/projects/fibb.html">Fibbonacci</a>, <a href="{{pathToRoot}}en/projects/carbonDating.html">Carbono</a></p></div><hr/><div class="row"><div class="col-md-12"><p> Primero piense en su número entero favorito entre 0 y 100. Escriba un programa que almacene su número favorito como una variable y pida repetidamente al usuario que intente adivinarlo. Hágale saber al usuario si su última suposición fue demasiado baja o demasiado alta. </p><p> Por ejemplo, mi número favorito es 88. Aquí hay una demostración de un usuario que intenta adivinar ese número: </p><p><center><img src="{{pathToRoot}}img/projects/favoriteNumber/demo.png" style="width:600px"/></center></p></div></div>
		
		%include templates/parts/footer.html
</div></body>