<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Mitad verde </h1><p> Escrito por Chris Piech </p><p> Folletos: <a href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a></p></div><hr/><div class="row"><div class="col-md-12"><p> Vamos a crear 1000 círculos en posiciones aleatorias en la pantalla. Los círculos más cercanos a la esquina inferior izquierda serán azules y los círculos más cercanos a la esquina superior derecha serán verdes. Este es un ejemplo de ejecución del programa. </p><p><center><img src="{{pathToRoot}}img/projects/halfGreen/halfGreen.png" style="width:500px"/></center></p><p> Cada círculo es de 20 por 20 píxeles. </p></div></div><div class="row"><div class="col-md-12"><h2> Solución </h2><pre id="editor" style="height:500px"> public class CirculoAlAzar2 extends EsGraphics {
	public static final int APPLICATION_WIDTH = 500;
	public static final int APPLICATION_HEIGHT = 500;
	public static final int TAMANO = 20;

	public void run () {
		for (int i = 0; i &lt;1000; i ++) {
			int x = intAleatorio(darAncho()-TAMANO);
			int y = intAleatorio(darAlto()-TAMANO);

			GOval o = new GOval (x, y, TAMANO, TAMANO);
			o.cambiarRelleno (true);
			o.cambiarColor (darColor (x, y));
			agregar (o);
			pausa (2);
		}
	}

	private Color darColor (int x, int y) {
		if (esVerde (x, y)) {
			return Color.GREEN;
		}
		return Color.BLUE;
	}
	
	private boolean esVerde (int x, int y) {
		return x&gt; y;
	}
} </pre><script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script><script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script></div></div>

		
		%include templates/parts/footer.html
</div></body>