<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Verdugo </h1><p> Escrito por Eric Roberts y Mehran Sahami. </p><!--<p>
				Worked Example: 
				<a href="{{pathToRoot}}projects/emc2.html">RandomSquare</a>
			</p>--></div><hr/><div class="row"><div class="col-md-12"><p> Realiza el clásico juego del ahorcado. </p><p><center><img src="{{pathToRoot}}img/projects/hangman/hangman.png" style="width:700px"/></center></p></div></div><div class="row"><div class="col-md-12"><p> Vea el folleto de Stanford: <a href="{{pathToRoot}}img/projects/hangman/hangman.pdf">Hangman.pdf</a></p></div></div>

		
		
		%include templates/parts/footer.html
</div></body>