<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Invertir Conos (con solución)
			</h1>
<p>
Problema escrito por Eric Roberts
			</p>
<p>
			Guras: 
				<a href="{{pathToRoot}}es/handouts/karel.html">KarelReference</a>
</p>
</div>
<hr/>
<div class="row">
<div class="col-md-12">
<p>
					Para un mundo de cualquier tamaño, con cualquier configuración de conos (ningún cuadrado tendrá más de uno), invierta todos los conos para que, donde había un cono anteriormente, no haya cono ... y donde no haya ningún cono anteriormente, hay un cono. Considere el siguiente ejemplo.
				</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/invert/invert.png" style="width:600px"/>
</center>
</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Solution</h2>
<pre id="editor" style="height:1350px">/**
 *&nbsp;Programa: Invertir Conos
 * ------------------
 *&nbsp;Invierta todas los conos de manera
 * que, donde antes había un cono, no
 * haya ninguna cono... y donde no haya
 * un cono anteriormente, haya un cono
 */
public class InvertirConos extends EsKarel {
	
	public void run() {
		invertirFila();
		volverAlOeste();
		while(izquierdaDespejada()) {
			girarIzquierda();
			moverse();
			girarDerecha();
			invertirFila();
			volverAlOeste();
		}
	}

	/**
	 *&nbsp;Método: InvertirFila
	 * ---------------------
	 *&nbsp;Invertir una sola fila. Al comienzo, Karel debe
	 * estar orientada hacia el este desde el lado oeste
	 * de la fila. Después de que Karel esté orientado
	 * hacia el este desde el lado este de la misma
	 * fila, se invertirán todos los beepers de la fila.
	 */
	private void invertirFila() {
		while(frenteDespejado()) {
			invertirCono();
			moverse();
		}
		invertirCono();
	}

	/**
	 *&nbsp;Método: Invertir Cono
	 * -----------------------
	 *&nbsp;Invierte la configuración de el cono en
	 * un cuadrado. Si previamente había un cono, se
	 * recoge. Si anteriormente no había cono, se
	 * coloca un cono.
	 */
	private void invertirCono() {
		if(conosPresentes()) {
			recogerCono();
		} else {
			ponerCono();
		}
	}

	/**
	 *&nbsp;Método: Regreso al Oeste
	 * ------------------------
	 *&nbsp;¡Da la vuelta y vuelve a la pared de la que
	 * vienes!
	 */
	private void volverAlOeste() {
		mediaVuelta();
		while(frenteDespejado()) {
			moverse();
		}
		mediaVuelta();
	}

	/** el clásico */
	private void girarDerecha() {
		girarIzquierda();
		girarIzquierda();
		girarIzquierda();
	}
}</pre>
<script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		
		%include templates/parts/footer.html

</div>
</div></div></body>
