<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Invert (with solution)
			</h1>
<p>
				Problem written by Eric Roberts
			</p>
<p>
			Handouts: 
				<a href="{{pathToRoot}}es/handouts/karel.html">KarelReference</a>
</p>
</div>
<hr/>
<div class="row">
<div class="col-md-12">
<p>
					For a world of any size, with any configuration of beepers (no square will have more than one), invert all the beepers so that, where there was a beeper previously there is no beeper... and where there was no beeper previously, there is a beeper. Consider the following example.
				</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/invert/invert.png" style="width:600px"/>
</center>
</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Solution</h2>
<pre id="editor" style="height:1010px">/**
 *&nbsp;Programa: Invertir
 * ------------------
 *&nbsp;Invierta todas las señales acústicas de manera
 * que, donde antes había una señal acústica, no
 * haya ninguna señal acústica ... y donde no haya
 * una señal acústica anteriormente, haya una señal
 * acústica.
 */
public class InvertirBeepers extends SuperKarel {
	
	public void run() {
		filaInvertida();
		volverAlOeste();
		while(izquierdaEsClara()) {
			girarALaIzquierda();
			moverse();
			girarALaDerecha();
			filaInvertida();
			volverAlOeste();
		}
	}

	/**
	 *&nbsp;Método: Invertir fila
	 * ---------------------
	 *&nbsp;Invertir una sola fila. Al comienzo, Karel debe
	 * estar orientada hacia el este desde el lado oeste
	 * de la fila. Después de que Karel esté orientado
	 * hacia el este desde el lado este de la misma
	 * fila, se invertirán todos los beepers de la fila.
	 */
	private void filaInvertida() {
		while(elFrenteEsClaro()) {
			invertirBeeper();
			moverse();
		}
		invertirBeeper();
	}

	/**
	 *&nbsp;Método: Invertir Beeper
	 * -----------------------
	 *&nbsp;Invierte la configuración de la señal acústica en
	 * un cuadrado. Si previamente había un beeper, se
	 * recoge. Si anteriormente no había beeper, se
	 * coloca un beeper.
	 */
	private void invertirBeeper() {
		if(beepersPresente()) {
			recogerBeeper();
		} else {
			ponerBeeper();
		}
	}

	/**
	 *&nbsp;Método: Regreso al Oeste
	 * ------------------------
	 *&nbsp;¡Da la vuelta y vuelve a la pared de la que
	 * vienes!
	 */
	private void volverAlOeste() {
		giroDeVuelta();
		while(elFrenteEsClaro()) {
			moverse();
		}
		giroDeVuelta();
	}
}</pre>
<script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		
		%include templates/parts/footer.html

</div>
</div></div></body>
