<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Mitad verde </h1><p> Escrito por Chris Piech </p><p> Folletos: <a href="{{pathToRoot}}en/handouts/graphics.html">Referencia Gráfica</a></p></div><hr/><div class="row"><div class="col-md-12"><p> Esta demostración muestra un método simple que toma la entrada y devuelve si esa entrada es impar o no. </p></div></div><div class="row"><div class="col-md-12"><h2> Solución </h2><pre id="editor" style="height:200px"> clase pública EsImpar extiende ProgramaDeConsola {

	public void run () {
		para (int i = 0; i &lt;100; i ++) {
			imprimir (esImpar (0));
		}
	}

	booleano privado esImpar (int valor) {
		retorno (valor% 2) == 1;
	}
} </pre><script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script><script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script></div></div>

		
		%include templates/parts/footer.html
</div></body>