<head>

    %include templates/parts/head.html
</head>

<body>
    <!-- Navigation Bar -->
    %include templates/parts/navBarEs.html
    <!-- Main Content -->
    <div class="container">
        <!-- Header -->
        <div id="pageHeader">
            <h1> Despegue </h1>
            <p> Escrito por Chris Piech </p>
            <p> Guias: <a href="{{pathToRoot}}es/handouts/console.html">Referencia Consola</a></p>
            <p> Ejemplos: <a href="{{pathToRoot}}es/projects/stringArtSoln.html">Arte de cuerdas</a></p>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">


            	<h2>Despegue</h2>
                <p> Complete el método de <code>run()</code> para un programa de <code>EsConsole</code> que imprima la cuenta regresiva de una nave espacial que está a punto de despegar. Escribe los números de 10 a 1 y luego escribe "¡Despegue!". Debes usar un ciclo for: </p>
                <p>
                    <center><img class="demoImg" src="{{pathToRoot}}img/projects/liftoff/demo.png" style="width:350px" /></center>
                </p>
                
            </div>
        </div>

        %include templates/parts/footer.html
    </div>
</body>