<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Haciendo pistas </h1><p> Problema escrito por un misterioso CS106A Profesor. </p><p> Folletos: <a href="{{pathToRoot}}es/handouts/events.html">Eventos</a><br/> Ejemplos trabajados: <a href="{{pathToRoot}}es/projects/stampTool.html">Herramienta de sello</a></p></div><hr/><div class="row"><div class="col-md-12"><p> Escriba un programa que dibuje una impresión de oso en cualquier lugar donde el usuario haga clic. </p><p><center><img src="{{pathToRoot}}img/icons/makingTracks.png" style="width:500px"/></center></p><p> Se le proporciona un método <code>dibujarPistaDeOso</code> que dibuja una única pista de oso en la posición dada (x, y): </p><pre> vacío dibujarPistaDeOso privado (doble x, doble y) </pre></div></div>
		
		
		
		%include templates/parts/footer.html
</div></body>