<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Circulo en movimiento </h1><p> Escrito por Chris Piech </p><p> Folletos: <a href="{{pathToRoot}}en/handouts/graphics.html">Referencia Gráfica</a></p></div><hr/><div class="row"><div class="col-md-12"><p> Este programa simplemente dibuja un círculo, luego lo anima moviéndose por la pantalla. </p><p><center><img src="{{pathToRoot}}img/projects/halfGreen/halfGreen.png" style="width:500px"/></center></p><p> Cada círculo es de 20 píxeles por 20 píxeles. </p></div></div><div class="row"><div class="col-md-12"><h2> Solución </h2><pre id="editor" style="height:500px"> Clase pública CirculoAlAzar2 extiende ProgramaDeGraficos {

	GeneradorAleatorio privado = nuevo GeneradorAleatorio ();
	public static final int ANCHO_DE_APLICACIÓN = 500;
	public static final int ALTURA_DE_APLICACION = 500;
	final estático privado int TAMAÑO = 20;
	
	public void run () {
		para (int i = 0; i &lt;1000; i ++) {
			int x = rd.siguienteInt (obtenerAncho () - TAMAÑO);
			int y = rd.siguienteInt (obtenerAltura () - TAMAÑO);

			GOval o = new GOval (x, y, TAMAÑO, TAMAÑO);
			o.conjuntoLleno (true);
			o.establecerColor (obtenerColor (x, y));
			añadir (o);
			pausa (2);
		}
	}

	Color privado obtenerColor (int x, int y) {
		if (esVerde (x, y)) {
			vuelve Color.verde;
		}
		vuelve Color.azul;
	}
	
	esVerde booleano privado (int x, int y) {
		devuelve x&gt; y;
	}
} </pre><script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script><script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script></div></div>

		
		%include templates/parts/footer.html
</div></body>