<head>

    %include templates/parts/head.html
</head>

<body>
    <!-- Navigation Bar -->
    %include templates/parts/navBarEs.html
    <!-- Main Content -->
    <div class="container">
        <!-- Header -->
        <div id="pageHeader">
            <h1> Haz lo tuyo </h1>
            <p> Escrito por ti </p>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p> Para el proyecto final también puedes diseñar un programa para hacer lo que quieras. </p>
                <p>¡Antes de comenzar, debe tener su idea aprobada por uno de los lideres de section!</p>
                <p>
                	<p>Solo tienes un dia para hacer tu projecto so piensa en algo no demasiado grande. Tu podrás continuar a programar despues de este courso :-).</p>
            </div>
        </div>

        %include templates/parts/footer.html
    </div>
</body>