<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Haz lo tuyo </h1><p> Escrito por ti </p></div><hr/><div class="row"><div class="col-md-12"><p> Para el proyecto final también puedes diseñar un programa para hacer lo que quieras. </p><p>¡Antes de comenzar, debe tener su idea aprobada por uno de los maestros! Piense en unos pocos, en caso de que uno sea demasiado difícil o demasiado fácil. </p></div></div>

		
		%include templates/parts/footer.html
</div></body>