<head>

    %include templates/parts/head.html
</head>

<body>
    <!-- Navigation Bar -->
    %include templates/parts/navBarEs.html
    <!-- Main Content -->
    <div class="container">
        <!-- Header -->
        <div id="pageHeader">
            <h1> Círculos al azar </h1>
            <p> Basado en un folleto de Eric Roberts </p>
            <p> Folletos: <a href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a>
                <br/> Ejemplo trabajado: <a href="{{pathToRoot}}es/projects/8Ball.html">8Ball</a>, <a href="{{pathToRoot}}es/projects/mysterySquare.html">Mystery Square</a></p>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p> Escriba un GraphicsProgram que dibuje un conjunto de diez círculos con diferentes tamaños, posiciones y colores. Cada círculo debe tener un color elegido al azar, un radio elegido al azar entre 70 y 200 píxeles y una posición elegida al azar en el lienzo, sujeto a la condición de que todo el círculo debe encajar dentro del lienzo sin extenderse más allá del borde. La siguiente ejecución de muestra muestra un posible resultado: </p>
                <p>
                    <center><img src="{{pathToRoot}}img/projects/randomCircles/demo1.png" style="width:500px" /></center>
                </p>
                <p> En algunas ejecuciones de este programa es posible que no veas diez círculos. ¿Por qué? </p>
                <p> Puedes utilizar mètodos para generar números aleatorios.
                    <div class="well"><code>intAleatorio( <i>min</i>, <i>max</i>); //genera un int aleatorio en el rango (min, max) <br/> colorAleatorio(); //genera un color al azar</code></div>
                </p>
                <p> Si terminas temprano, considera hacer donas al azar. </p>
            </div>
        </div>

        %include templates/parts/footer.html
    </div>
</body>