<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBar.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Draw Robot Face
			</h1>
<p>
				Problem written by Eric Roberts. Updated by Chris Piech.
			</p>
</div>
<hr/>
<div class="row">
<div class="col-md-12">
<p>
					Write a program that draws this picture. You should use the constants provided, but feel free to change them (or recolor any part of the face)</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/robotFace/face.png" style="width:500px"/>
</center>
</p>
<p>A few constants are provided. Use them so that you don't have "magic" numbers in your program.</p>
<p>
<div class="well">
<code style="font-size:12px">
							/*El ancho de la cara del robot:*/
							<br/>private static final int ANCHO_DE_CARA = 300;
							<br/>
<br/>/*La altura de la cara del robot:*/
							<br/>private static final int ALTURA_DE_LA_CARA = 350;
							<br/>
<br/>/*El diámetro de cada ojo robot:*/
							<br/>private static final int DIÁMETRO_DE_OJOS = 70;
							<br/>
<br/>/*La distancia desde la parte superior de la cabeza hasta la parte superior de los ojos:*/
							<br/>private static final int EYE_Y_OFFSET = 40;
							<br/>
<br/>/*El ancho de la boca:*/
							<br/>private static final int ANCHO_DE_BOCA = 150;
							<br/>
<br/>/*La altura de la boca:*/
							<br/>private static final int ALTURA_DE_LA_BOCA = 30;
							<br/>
<br/>/*La distancia desde la parte superior de la cabeza hasta la parte superior de la boca:*/
							<br/>private static final int MOUTH_Y_OFFSET = 200;
							<br/>
<br/>/*La distancia desde la parte superior de la pantalla hasta la base de la etiqueta:*/
							<br/>private static final int ETIQUETA_Y = 50;
						</code>
</div>
</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Solution</h2>
<pre id="editor" style="height:1220px">/**
 *&nbsp;Dibujar cara
 * ------------
 *&nbsp;Dibuja una impresionante cara de robot, con
 * etiquetas y ojos de diferentes colores. @ # $% #
 * @!
 */
public class DibujarCara extends ProgramaDeGraficos {

	private static final int ANCHO_DE_CARA = 300;
	private static final int ALTURA_DE_LA_CARA = 350;
	private static final int DIÁMETRO_DE_OJOS = 70;
	private static final int EYE_Y_OFFSET = 40;
	private static final int ANCHO_DE_BOCA = 150;
	private static final int ALTURA_DE_LA_BOCA = 30;
	private static final int MOUTH_Y_OFFSET = 200;
	private static final int ETIQUETA_Y = 50;

	public void run() {
		dibujarLaCabeza();
		dibujarOjoIzquierdo();
		dibujarOjoDerecho();
		dibujarBoca();
		dibujarEtiqueta();
	}

	private void dibujarLaCabeza() {
		double x = (obtenerAncho() - ANCHO_DE_CARA) / 2;
		double y = (obtenerAltura() - ALTURA_DE_LA_CARA) / 2;
		GRect cabeza = new GRect(x, y, ANCHO_DE_CARA, ALTURA_DE_LA_CARA);
		cabeza.conjuntoLleno(true);
		cabeza.establecerColorDeRelleno(Color.NARANJA);
		añadir(cabeza);
	}
	
	private void dibujarOjoIzquierdo() {
		double espaciamientoDeLosOjos = (ANCHO_DE_CARA - 2 * DIÁMETRO_DE_OJOS) / 3;
		double cabezaX = (obtenerAncho() - ANCHO_DE_CARA) / 2;
		double cabezaY = (obtenerAltura() - ALTURA_DE_LA_CARA) / 2;
		double x =  cabezaX + espaciamientoDeLosOjos;
		double y = cabezaY + EYE_Y_OFFSET;
		GOval ojo = new GOval(x, y, DIÁMETRO_DE_OJOS, DIÁMETRO_DE_OJOS);
		ojo.conjuntoLleno(true);
		ojo.establecerColorDeRelleno(Color.AZUL);
		añadir(ojo);
	}
	
	private void dibujarOjoDerecho() {
		double espaciamientoDeLosOjos = (ANCHO_DE_CARA - 2 * DIÁMETRO_DE_OJOS) / 3;
		double cabezaX = (obtenerAncho() - ANCHO_DE_CARA) / 2;
		double cabezaY = (obtenerAltura() - ALTURA_DE_LA_CARA) / 2;
		double x =  cabezaX + espaciamientoDeLosOjos * 2 + DIÁMETRO_DE_OJOS;
		double y = cabezaY + EYE_Y_OFFSET;
		GOval ojo = new GOval(x, y, DIÁMETRO_DE_OJOS, DIÁMETRO_DE_OJOS);
		ojo.conjuntoLleno(true);
		ojo.establecerColorDeRelleno(Color.VERDE);
		añadir(ojo);
	}
	
	private void dibujarBoca() {
		double cabezaX = (obtenerAncho() - ANCHO_DE_CARA) / 2;
		double cabezaY = (obtenerAltura() - ALTURA_DE_LA_CARA) / 2;
		double x = cabezaX + (ANCHO_DE_CARA - ANCHO_DE_BOCA) / 2;
		double y = cabezaY + MOUTH_Y_OFFSET;
		GRect boca = new GRect(x, y, ANCHO_DE_BOCA, ALTURA_DE_LA_BOCA);
		boca.conjuntoLleno(true);
		añadir(boca);
	}
	
	private void dibujarEtiqueta() {
		EtiquetaG etiqueta = new EtiquetaG("Cara de robot");
		etiqueta.establecerFuente("Mensajero-50");
		double x = (obtenerAncho() - etiqueta.obtenerAncho()) / 2;
		añadir(etiqueta, x, ETIQUETA_Y);
	}
}</pre>
<script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.setShowPrintMargin(false);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
</div>
</div>

		
		%include templates/parts/footer.html

</div>
</body>
