<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Rockets
			</h1>
<p>
				Written by Chris Piech
			</p>
<p>
				Handouts:
				<a href="{{pathToRoot}}es/handouts/arrayLists.html">ArrayLists</a>
</p>
</div>
<hr/>
<div class="row">
<div class="col-md-12">
<p>
					En el clic del mouse disparar un cohete! No hay límite para la cantidad de cohetes que puedes disparar.
				</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/rockets/demo.png" style="width:100%"/>
</center>
</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Solution</h2>
<pre id="editor" style="height:1000px">public class RocketPaddle extends ProgramaDeGraficos {
	
	// constantes
	public static final int ALTURA_DE_APLICACION = 600;
	private static final double TAMANO_DE_LA_BOLA = 10;
	private static final int PADLE_Y = ALTURA_DE_APLICACION - 50;
	private static final int PODER_ANCHO = 100;
	private static final int ALTURA_DE_PADDLE = 20;
	
	// la lista de cohetes
	private ArrayList&lt;SOvalo> listaDeCohetes;
	private SRect paleta;
	
	public void run() {
		listaDeCohetes = new ArrayList<SOvalo>();
		paleta = new SRect(0, PADLE_Y, PODER_ANCHO, ALTURA_DE_PADDLE);
		paleta.cambiarRelleno(true);
		agregar(paleta);
		agregarMouseListeners();
		while(true) {
			cohetesAnimados();
			pausa(10);
		}
	}
	
	public void mouseMovido(MouseEvento e){
		double x = e.darX() - PODER_ANCHO/2;
		paleta.cambiarUbicacion(x, PADLE_Y);
	}
	
	public void mousePulsado(MouseEvento e) {
		double x = e.darX();
		double y = PADLE_Y;
		SOvalo r = new SOvalo(x, y, TAMAÑO_DE_LA_BOLA, TAMAÑO_DE_LA_BOLA);
		r.cambiarRelleno(true);
		r.cambiarColor(Color.BLUE);
		
		// agrega el cohete a la pantalla
		agregar(r);
		
		// agrega el cohete a la lista
		listaDeCohetes.add(r);
	}

	private void cohetesAnimados() {
		// bucle sobre la lista hacia atrás para que podamos eliminar de forma segura
		// de la lista.
		for(int i = listaDeCohetes.size() - 1; i &gt;= 0; i--) {
			SOvalo oval = listaDeCohetes.get(i);
			
			// mover el cohete
			oval.moverse(0, -5);
			
			// removerse el cohete?
			if(oval.getY() &lt; 0) {
				quitar(listaDeCohetes.get(i));
				listaDeCohetes.remove(i);
			}
		}
	}
}</goval></goval></pre>
<script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
</div>
</div>


		

		
		%include templates/parts/footer.html

</div>
</body>
