<head>

    %include templates/parts/head.html
</head>

<body>
    <!-- Navigation Bar -->
    %include templates/parts/navBarEs.html
    <!-- Main Content -->
    <div class="container">
        <!-- Header -->
        <div id="pageHeader">
            <h1> Eso es algo de suma! </h1>
            <p> Problema escrito por Bryce CR, Julia Lee, Chris Piech y TY Huang </p>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p> Escriba un programa que lea 10 enteros del usuario e imprima la suma de los valores ingresados. </p>
                <p>
                    <center><img src="{{pathToRoot}}img/projects/someSum/demo.png" style="width:600px" /></center>
                </p>
                <p> A menudo, en los programas de consola es necesario imprimir los valores al usuario como una cadena. El ejemplo de arriba imprime: </p>
                <p>&quot;La suma es: 55&quot;</p>
                <p>Si ejecuta su programa con la entrada anterior, 55 será el valor almacenado en la variable que guarda la suma. Si esa variable se llama &#39;ejemploSuma&#39;, para escribir la respuesta, escriba:</p>
                <p><code>imprimir(&quot;La suma es:&quot; + ejemploSuma);</code></p>Una forma más general es:
                <p><code>&quot;Mensaje de cadena&quot; + variableName + &quot;Mensaje de cadena más&quot;</code></p>
            </div>
        </div>

        %include templates/parts/footer.html
    </div>
</body>