<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Pintor de cuadros </h1><p> Escrito por Lisa Yan </p></div><hr/><div class="row"><div class="col-md-12"><p> Este es un programa extra. ¡Está destinado a ser un poco desafiante! </p><p>¡Recuerda utilizar <b><u>métodos</u></b> para organizar tu código! </p><h2></h2><p> Karel quiere hacer algo de arte real. Ayúdala a llenar cualquier mundo rectangular con cuadrados alternados de azul y verde. </p><center><img src="{{pathToRoot}}img/projects/squarePainter/5x5.png" style="width:300px"/></center><br/><p><b><u>Nota</u></b>: Es posible que tenga que usar alguna lógica adicional para este problema. Aprenderás más sobre esta lógica mañana. </p><p> Para verificar lo contrario de cualquier condicional, use el &quot;bang&quot;, comúnmente conocido como el signo de exclamación: </p><pre>
// comprueba que la esquina en la que te encuentras NO es de un color determinado
if (! colorDeLaEsquinaEs (color)) {
    ...
}
</pre><br/><p> Karel debería poder pintar cualquier tipo de mundo rectangular: </p><center><img src="{{pathToRoot}}img/projects/squarePainter/8x8.png" style="width:300px"/></center><br/><p> Incluso los rectángulos no cuadrados están dentro del reino del talento artístico de Karel: </p><center><img src="{{pathToRoot}}img/projects/squarePainter/16x20.png" style="width:400px"/></center><br/><p> No importa dónde termine Karel una vez que termine; Ella sólo quiere maximizar su expresión artística. </p></div></div>

		
		%include templates/parts/footer.html
</div></body>