<head>

	%include templates/parts/head.html
</head><body><!-- Navigation Bar -->
	%include templates/parts/navBar.html
<!-- Main Content --><div class="container"><!-- Header --><div id="pageHeader"><h1> Herramienta de sello </h1><p> Problema escrito por un misterioso CS106A Profesor. </p></div><hr/><div class="row"><div class="col-md-12"><p> Escriba un programa que tenga un GRect (que represente un sello) siga al ratón de los usuarios y dibuje un GRect en la pantalla centrada alrededor del mouse cuando el usuario haga clic. </p><p><center><img src="{{pathToRoot}}img/projects/stampTool/demo.png" style="width:500px"/></center></p><p> Recuerde que ya que necesita tener una variable que puede cambiar dentro de una clase de evento de mouse (el GRect que representa su sello) tendrá que declararlo como una variable de distancia. Pídale a uno de los maestros que explique esto si no tiene sentido. </p></div></div><!--
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:470px">public class StampTool extends ProgramaDeGraficos {

	private static final int SIZE = 50;
	
	public void run() {
	}
	
	public void ratónPresionado(EventoDelRatón e) {
	}
	
	public void ratónMovido(EventoDelRatón e) {
	}
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.setShowPrintMargin(false);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
	
	</div>
	</div>
	-->
		%include templates/parts/footer.html
</div></body>