<head>

	%include templates/parts/head.html
</head>

<body>
	<!-- Navigation Bar -->
	%include templates/parts/navBarEs.html
	<!-- Main Content -->
	<div class="container">
		<!-- Header -->
		<div id="pageHeader">
			<h1> Cortometraje </h1>
			<p> Escrito por Chris Piech y Keith Schwartz </p>
			<p> Ejemplo: <a href="{{pathToRoot}}es/projects/halfGreen.html">mitad verde</a>, <a
					href="{{pathToRoot}}es/projects/target.html">blanco</a><br /> Folletos: <a
					href="{{pathToRoot}}es/handouts/graphics.html">Referencia Gráfica</a></p>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<p>¿Sabías que las películas animadas como Toy Story, Up y Frozen se hacen usando programas de
					computadora? En esta tarea, usarás un programa para crear una película corta. </p>
				<h2> Método de mensaje de pantalla </h2>
				<p> Cada película tiene un principio y un fin. A veces comenzará &quot;Había una vez ...&quot;, a
					veces comenzará con un título, a veces comenzará con algo más tonto. Al final de la película a veces
					dice &quot;Fin&quot;. <p> Agrega un método a tu programa que dibuje un mensaje en la
						pantalla (sobre un fondo negro) y deja el mensaje durante dos segundos. </p>
					<div class="well"><code><b>private</b> void mostrarMensaje(String mensaje)</code></div> Después de
					dos segundos debes eliminar el GRect que es el fondo y la EtiquetaG que es el texto. Para hacerlo,
					puedes usar el método retirar (hace lo contrario al método agregar. Toma un ObjetoG que estaba en el
					lienzo y lo elimina). <div class="well"><code>retirar( <i>tuObjeto</i>);</code></div> El mensaje de
					inicio debe verse como la pantalla de la izquierda. El mensaje final debe parecerse a la pantalla de
					la derecha: <div>
						<div class="col-md-6 col-xs-6"><img src="{{pathToRoot}}img/projects/sunset/onceUpon.png"
								style="width:100%" /></div>
						<div class="col-md-6 col-xs-6"><img src="{{pathToRoot}}img/projects/sunset/theEnd.png"
								style="width:100%" /></div>
					</div> La fuente que utilizamos fue: <div class="well"><i>etiqueta</i>.establecerFuente
						(&quot;Papyrus-40&quot;); </div>
				</p>
			</div>
		 Por supuesto, puedes reutilizar este método tanto como quieras para contar tu historia. <div class="row">
	<div class="col-md-12">
		<h2> Puesta de sol </h2>
		<p> Tu película debe tener una escena para comenzar: una puesta de sol. Dibuja el cielo, la tierra y un sol.
			Luego, anima lentamente el sol descendiendo. El cielo debe ocupar la mitad superior del lienzo, y la tierra
			debe ocupar la segunda mitad. Las siguientes imágenes muestran el transcurso del programa. </p>
		<center><img src="{{pathToRoot}}img/projects/sunset/animation.png" style="width:100%" /></center>
		<!--<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimple.png"></img>
				</div>
				<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimpleT1.png"></img>
				</div>
				
				<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimpleT2.png"></img>
				</div>-->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2> Método para obtener color </h2>
	</div>
</div>
<p> Escribe un método que tome el tiempo y devuelva el color del sol. </p>
<div class="well"><code><b>private</b> Color obtenerColor( <b>int</b> cuadro)</code></div>
<p> Haga que el método devuelva <code>Color.YELLOW, Color.ORANGE</code> o <code>Color.RED</code> en función de cuántas iteraciones hayan pasado.
</p>
<div class="row">
	<div class="col-md-12">
		<h2> Mejóralo </h2>
	</div>
</div>
<p> Haz lo que quieras para que tu historia sea más cautivadora que una puesta de sol. ¿Puedes contar una historia de amor
	o acción? No olvides utilizar métodos para hacer tu vida más fácil. </p>
<p>
	<center style="padding:10px;"><img src="{{pathToRoot}}img/projects/sunset/poster.jpg" style="width:500px" />
	</center>
</p>
<p> También puedes agregar más objetos para hacer que tu escena sea más cautivadora. ¿Agregar un arco iris (o un arco
	iris doble)? ¿Tienes una idea de lo que siempre ha faltado en las puestas de sol? ¿Qué tal un puente iluminado? </p>
<div class="col-md-6 col-xs-6"><img src="{{pathToRoot}}img/projects/sunset/sunsetTrees.png" style="width:100%" /></div>
<div class="col-md-6 col-xs-6"><img src="{{pathToRoot}}img/projects/sunset/sunsetT2.png" style="width:100%" /></div>


%include templates/parts/footer.html