<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				Karel NU (con solution)
			</h1>
<p>
				Problema escrito por Eric Roberts
			</p>
<p>
				Guras: 
				<a href="{{pathToRoot}}es/handouts/karel.html">Referencia de karel</a>
</p>
</div>
<hr/>
<div class="row">
<div class="col-md-12">
<p>
					Karel ha sido contratada por la ONU para venir a ayudar a construir casas. El día necesita ser salvado y Karel es claramente el mejor robot para el trabajo. Su objetivo es hacer que Karel camine por la fila inferior y construir una casa como la siguiente:
				</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/unKarel/house.png" style="width:150px"/>
</center>
</p>
<p>
					Cada vez que Karel encuentra un cono. Las siguientes imágenes muestran lo que Karel debería hacer por dos mundos de ejemplo. Puede suponer que ninguna casa se superpondrá y que todas las casas encajarán dentro del mundo. ¡No puedes asumir el tamaño del mundo o el número de casas!
				</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/unKarel/un1.png" style="width:700px"/>
</center>
</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/unKarel/un2.png" style="width:600px"/>
</center>
</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Solution</h2>
<pre id="editor" style="height:1100px">/**
 *&nbsp;Programa: Karel NU
 * -------------------
 *&nbsp;Este programa hace que Karel construya casas,
 * como trabajo para la ONU.
 */
public class KarelNU extends EsKarel {
	
	public void run() {
		while(frenteDespejado()) {
			moverse();
			if(conosPresentes()) {
				construirUnaCasa();
			}
		}
	}

	/**
	 *&nbsp;Método: Construir Casa
	 * ----------------------
	 *&nbsp;Construye una sola casa centrada alrededor de la
	 * posición actual de Karel. Puede suponer que hay
	 * un cono presente en el estado de
	 * inicio. Al final del método, Karel estará mirando
	 * hacia el este en la esquina inferior derecha de
	 * la casa.
	 */
	private void construirUnaCasa() {
		recogerCono();
		mediaVuelta();
		moverse();
		girarDerecha();
		ponerTres();
		girarDerecha();
		moverse();
		girarDerecha();
		ponerTres();
		girarIzquierda();
		moverse();
		girarIzquierda();
		ponerTres();
		mediaVuelta();
		moverseALaPared();
		girarIzquierda();
	}

	/**
	 *&nbsp;Método: Mover a la pared
	 * ------------------------
	 *&nbsp;Avanza hasta que Karel golpee una pared.
	 */
	private void moverseALaPared() {
		while(frenteDespejado()) {
			moverse();
		}
	}

	/**
	 *&nbsp;Método: Poner tres
	 * --------------------
	 *&nbsp;Poner tres beepers seguidos y moverse tres veces
	 */
	private void ponerTres() {
		for(int i = 0; i &lt; 3; i++) {
			ponerCono();
			moverse();
		}
	}

	/* el clasico */
	private void girarDerecha() {
		girarIzquierda();
		girarIzquierda();
		girarIzquierda();
	}

}</pre>
<script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		
		%include templates/parts/footer.html

</div>
</div></div></body>
