<head>


	%include templates/parts/head.html

</head>
<body>
<!-- Navigation Bar -->

	%include templates/parts/navBarEs.html

<!-- Main Content -->
<div class="container">
<!-- Header -->
<div id="pageHeader">
<h1>
				UN Karel (with solution)
			</h1>
<p>
				Problem written by Eric Roberts
			</p>
<p>
				Handouts: 
				<a href="{{pathToRoot}}es/handouts/karel.html">KarelReference</a>
</p>
</div>
<hr/>
<div class="row">
<div class="col-md-12">
<p>
					Karel has been hired by the UN to come and help build houses. The day needs saving and Karel is clearly the best robot for the job. Your goal is to have Karel walk along the bottom row and build a house like the following:
				</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/unKarel/house.png" style="width:150px"/>
</center>
</p>
<p>
					Every time Karel finds a beeper. The bellow images show what Karel should do for two example worlds. You can assume that no houses will overlap and that all houses will fit inside the world. You can't assume the size of the world or the number of houses!
				</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/unKarel/un1.png" style="width:700px"/>
</center>
</p>
<p>
<center>
<img src="{{pathToRoot}}img/projects/unKarel/un2.png" style="width:600px"/>
</center>
</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Solution</h2>
<pre id="editor" style="height:1100px">/**
 *&nbsp;Programa: ONU Karel
 * -------------------
 *&nbsp;Este programa hace que Karel construya casas,
 * como trabajo para la ONU.
 */
public class UNKarel extends SuperKarel {
	
	public void run() {
		while(elFrenteEsClaro()) {
			moverse();
			if(beepersPresente()) {
				construirUnaCasa();
			}
		}
	}

	/**
	 *&nbsp;Método: Construir Casa
	 * ----------------------
	 *&nbsp;Construye una sola casa centrada alrededor de la
	 * posición actual de Karel. Puede suponer que hay
	 * una señal acústica presente en el estado de
	 * inicio. Al final del método, Karel estará mirando
	 * hacia el este en la esquina inferior derecha de
	 * la casa.
	 */
	private void construirUnaCasa() {
		recogerBeeper();
		giroDeVuelta();
		moverse();
		girarALaDerecha();
		lugarTres();
		girarALaDerecha();
		moverse();
		girarALaDerecha();
		lugarTres();
		girarALaIzquierda();
		moverse();
		girarALaIzquierda();
		lugarTres();
		giroDeVuelta();
		moverALaPared();
		girarALaIzquierda();
	}

	/**
	 *&nbsp;Método: Mover a la pared
	 * ------------------------
	 *&nbsp;Avanza hasta que Karel golpee una pared.
	 */
	private void moverALaPared() {
		while(elFrenteEsClaro()) {
			moverse();
		}
	}

	/**
	 *&nbsp;Método: Coloque tres
	 * --------------------
	 *&nbsp;¡Coloca tres beepers seguidos y mueve tres veces!
	 */
	private void lugarTres() {
		for(int i = 0; i &lt; 3; i++) {
			ponerBeeper();
			moverse();
		}
	}

}</pre>
<script charset="utf-8" src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		
		%include templates/parts/footer.html

</div>
</div></div></body>
