<div>
	<div class="bs-example">
		<!-- Row -->
		<div class="row">
			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/Colin.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Colin</b>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Mario.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Mario</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Ana.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Ana</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Evani.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Evani</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Jorge.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Jorge</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Juliana.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Juliana</b>
					</div>
				</div>
			</div>
		</div>



		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Sierra.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Sierra</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Michael.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Michael</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/nathan.png" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Nathan</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Nicolas.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Nicolás</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Pietro.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Pietro</b>
					</div>
				</div>
			</div>


			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Eddie.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Eddie</b>
					</div>
				</div>
			</div>



		</div>
		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/chris.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Chris</b>
					</div>
				</div>
			</div>

			

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/Santiago.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Santiago</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/Dario.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Dario</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/nick2.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Nick</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/asena.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Asena</b>
					</div>
				</div>
			</div>

			
		</div>
</div>
